body {
    background-color: whit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #424141;

}
.title{
    color: white;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 50px;
  

}
.members img{
    border-radius: 50%;
}

.side-menu {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: grey; 
    overflow-x: hidden; 
    transition: 0.5s;
    padding-top: 60px; 

}

.header .logo img {
    margin-right: 80px;
    width: 100px;
    height: 100px;
    padding-left: 50px;;
}
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 0; /* Adjust as necessary to make it visible when menu is closed */
    z-index: 2; /* Ensure it's above other content */
}

/* Menu item styling */
.side-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #ff0000;
}



.firstPar{
    margin-left: 100px;
    margin-right: 500px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
}

.secondPar{
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 100px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
}